* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444;
    margin: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

$color_black: #121212;
$color_white: #fff;
$color_red: #e90014;
$color_hover: #FF5274;
$color_prim: #5ad67d;

body {
    font-family: 'Kanit', sans-serif;
    background-color: #e3e7e8;
}

.fb-customerchat {
    position: sticky;
}

/* =========================================== Heading =========================================== */
/* ===================================== nav-grid-container ===================================== */

    .nav-grid-container {
        width: 100%;
        background: rgba(105, 105, 105, 0.185);
        box-shadow: 0 5px 15px rgba(255, 255, 255, 0.185);
        padding: 5px 20px;
        position: absolute;
        top: 0;
        z-index: 1;

        li {
            list-style: none;
            font-size: 16px;
            padding: 15px 5px;
            white-space: nowrap;
        }
        li a {
            justify-content: center;
            text-decoration: none;
            color: $color_white;
            font-size: 20px;
            letter-spacing: 1.7px;
            font-weight: bold;
            &:hover {
                color: $color_hover;
                transition: .3s;
            }
        }
        .logo a,
        .toggle a {
            text-transform: uppercase;
            font-size: 30px
            
        }

/* ============================== Mobile menu ============================== */
        .menu {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        .toggle {
            order: 1;
        }
        .item {
            width: 100%;
            text-align: center;
            order: 2;
            display: none;
        }
        .item.active {
            display: block;
        }

/* ============================== Tablet menu ============================== */
        @media screen and (min-width: 600px) {
            .menu {
                justify-content: center;
            }
            .logo {
                flex: 1;
            }
            .toggle {
                flex: 1;
                text-align: right;
                margin-right: 15px;
            }
        }

/* ============================== Desktop menu ============================== */
        @media screen and (min-width: 900px){
            .item {
                display: block;
                width: auto;
            }
            .toggle {
                display: none;
            }
            .logo {
                order: 0;
            }
            .item {
                order: 1;
            }
            .menu li {
                padding: 15px 30px;
            }

        }

    }       

/* =========================================== section.content =========================================== */
section.content {
    margin: 0;
    width: 100%;
    height: auto;
    background: $color_black;
    position: relative;

/* ===================================== content-grid-container ===================================== */
 /* ===================================== Desktop ===================================== */
    .content-grid-container {
        min-width: 320px;
        width: 100%;
        height: auto;
        position: relative;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: repeat(6, 300px);
        justify-content: center;
        grid-gap: 1.5em;

        .content_item {
            margin-top: -80px;
            margin-bottom: 80px;
            position: relative; 
    
            .content_img:hover:after {
                content: "";
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                position: absolute;
                background: rgba(0,0,0,0.5);
            }
            a {
                color: $color_white;
            }
            .content_text  {
                top: 86%;
                left: 6%;
                position: absolute;
                transition: transform .3s ease;
                z-index: 2;
                span {
                    font-size: 24px;
                }
            }
            .content_text_six {
                top: 79%;
                left: 6%;
                position: absolute;
                transition: transform .3s ease;
                z-index: 2;
                line-height: 1;
                span {
                    font-size: 28px;
                }
            }
            .fas {
                top: 87%;
                right: 6%;
                position: absolute;
                font-size: 26px;
                transition: transform .3s ease;
                z-index: 2;
            }
            .content_img {
                width: 100%;
                height: 100%;
                cursor: pointer;
                overflow: hidden;
                position: relative;
            }
            .content_img img {
                width: 100%;
                height: 100%;
                transition: transform .3s ease;
            }
            
            &:hover {
                .content_img img{
                    transform: scale(1.3);
                }
                .content_text {
                    position: absolute;
                    transform: translate(10%, 0%);
                }
                .content_text_six {
                    position: absolute;
                    transform: translate(10%, 0%);
                }
                .fas {
                    position: absolute;
                    transform: translate(-50%, 0%);
                }
            } 
        } /* end content_item */
    } /* content-grid-container */

/* ===================================== tablet ===================================== */
@media screen and (min-width: 480px){
    .content-grid-container {
        width: 100%;
        grid-template-columns: repeat(1, 410px);
        grid-template-rows: repeat(6, 350px);
        
    }
}
/* ===================================== tablet ===================================== */
@media screen and (min-width: 768px){
    .content-grid-container {
        width: 100%;
        margin: 0 auto;
        grid-template-columns: repeat(2, 410px);
        grid-template-rows: repeat(3, 350px);
    }
}

/* ===================================== Desktop ===================================== */
@media screen and (min-width: 1024px){
    .content-grid-container {
        max-width: 1140px;
        width: 100%;
        grid-template-columns: repeat(3, 410px);
        grid-template-rows: repeat(2, 350px);
    }
}
} /* end section.content */

/* blog_content
====================================================================== */
section.blog_content {
    margin: 0;
    width: 100%;
    height: auto;
    background: #e3e7e8;
    position: relative;
   
    .blog_card-gird-container {
        position: relative;
        min-width: 480px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(30 ,1fr);
        grid-gap: 1.5em;
        justify-content: center;
        align-content: center;
    
        .card-grid-item {
            width: 350px;
            height: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            background: $color_white;
            margin: 0 auto;
        }
        .photo {
            width: 100%;
            height: 55%;
            background-size: cover;
            position: relative;
        }
        img {
            width: 100%;
            height: 100%;
            background-size: cover;
            position: relative;
        }
        .news {
            width: 96%;
            height: 55%;
            text-align: justify;
            position: relative;
            padding-left: 4%;
            box-sizing: border-box;
            .btn {
                position: absolute;
                right: 0;
                top: 5px;
                font-size: 20px;
                &:hover {
                    cursor: pointer;
                }
                .far {
                    margin-left: 10px;
                    color: #bbbbbb;
                    &:hover {
                        color: $color_hover;
                    }
                }
                .fas {
                    margin-left: 10px;
                    color: #bbbbbb;
                    &:hover {
                        color: $color_hover;
                    }
                }
            }
            .title {
                font-size: 28px;
                position: absolute;
                letter-spacing: 1px;
                top: 30px;
                color: $color_black;
                font-weight: 600;
                text-transform: capitalize;
                line-height: 1.2;
            }
            .article {
                position: absolute;
                top: 100px;
                font-size: 18px;
                line-height: 24px;
                color: #444444;
            }
            button {
                position: absolute;
                bottom: 55px;
                right: 0;
                width: 120px;
                height: 40px;
                background: #e90014;
                border: none;
                color: $color_white;
                font-size: 18px;
                font-family: 'Kanit', sans-serif;
                outline: none;
                &:hover {
                    cursor: pointer;
                    background: $color_prim;
                }
            }
            button a {
                text-decoration: none;
                color: $color_white;
            }
        }  
    }
/* ===================================== tablet ===================================== */
    @media screen and (min-width: 768px){
        .blog_card-gird-container {
            width: 100%;
            margin: 0 auto;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(15, 1fr);
            grid-gap: 1.5em;
        }
    }
    
/* ===================================== Desktop ===================================== */
    @media screen and (min-width: 960px){
        .blog_card-gird-container {
            max-width: 1140px;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 1.5em;
        }
    }
} /* end blog_content */

/* =========================================== hostel.html =========================================== */
/* PAGE WRAPPER */
.page-wrapper a:hover {
    color: $color_hover;
}

/* POST SLIDER */
.post-slider {
    position: relative;
}

.post-slider .slider-title {
    text-align: center;
    margin: 30px auto;
}

.post-slider .next {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: #006669;
    cursor: pointer;
}

.post-slider .post-wrapper{
    width: 84%;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0 10px 0;
}

.post-slider .post-wrapper .post {
    width: 300px;
    height: 350px;
    margin: 0 10px;
    display: inline-block;
    background: white;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem  -1rem #a0a0a033;
}

.post-slider .post-wrapper .post .post-info {
    height: 130px;
    padding: 0 5px;
    background-color: white;
}

.post-slider .post-wrapper .post .slider-img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* BUNTON */
.btn-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    flex-direction: column;
}

.btn-container a {
    position: relative;
    width: 300px;
    height: 75px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    margin: 10px 0;
    text-decoration: none;
    background: url(/whykrabi.github.io/img/button/btn-bg1.png);
    background-size: cover;
    transition: .5s;
}

.btn-container a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: url(/whykrabi.github.io/img/button/btn-bg2.png);
    background-size: cover;
    transform-origin: left;
    transition: .5s;
}

.btn-container a:hover {
    background: none;
    color: #000;
}
.btn-container a:hover:before {
    width: 100%;

}
.btn-container a span {
    position: relative;
    z-index: 1;
}